$custom-border-radius: 4px;
$custom-border-width: 2px;
$custom-button-border-color: black;
$custom-range-thumb-size: 50%;
$custom-range-thumb-color: red;
$custom-range-track-color: blue;
$custom-range-track-height: 4px;