html{
    font-size: 18px;
    transition: font-size 0.5s linear;
    margin: 0 !important;
    padding: 0 !important;
}

body{
    --background-color: #FADBC0;
    --main-color: #FA1D00;
    --text-color: #330929;
    --border-color: #E6B6A3;
    --highlight-color: #EBA7B3;
    --degrade: #d8677c;
    --color-link-visited: #891000;
    --color-link-external-hover: #e0270f;
    --color-link-hover: #e0270f;

    --page-padding: 30px;
    --section-padding: 15px;
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Times New Roman", Times, serif;
}

body.dark{
    --background-color: #1a1a1a;
    --main-color: #e0270f;
    --text-color: #e6e6e6;
    --arrow-color: #473636;
    --bird-color: #e6e6e6;
    --highlight-color: #e6e6e6;
    --degrade: #e0270f;
    --color-link-visited: #e6e6e6;
    --color-link-external-hover: #e0270f;
    --color-link-hover: #e0270f;

}

body.winter {
    --background-color: #eaf2f9;
    --main-color: #0088cc;
    --text-color: #222222;
    --arrow-color: #222222;
    --border-color: #c1d8e5;
    --highlight-color: #d8f0ff;
    --degrade: #0088cc;
    --color-link-visited: #222222;
    --color-link-external-hover: #005c99;
    --color-link-hover: #005c99;
  }
  

h1{
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h2{
    font-size: 2rem;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);

    /* padding-left: var(--page-padding);
    padding-right: var(--page-padding); */
    font-size: var(--font-size);
}

header{
    border: 2px solid var(--border-color);
    background-color: var(--degrade);
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    margin: 0;
    border-radius: 0 0 15px 15px;
}

main{
    border: 2px solid var(--border-color);
    padding: 0;
    margin: 0;
    border-radius: 15px 15px 15px 15px;
}

footer{
    border: 2px solid var(--border-color);
    background-color: var(--degrade);
    padding: 0;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

#page-grid > *{
    padding-left: 50px;
    border: 3px solid var(--border-color);
    border-radius: 15px 15px 15px 15px;
    padding: var(--section-padding);
}

#page-grid{
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: repeat(3, 1ssfr);
    grid-template-areas: 
    "z-intro z-intro z-intro"
    "z-promo z-team-filter-intro z-game-filter-intro"
    "z-team-filter z-iframe z-iframe"
    "z-game-filter z-iframe z-iframe"
    "z-authenticity z-authenticity z-authenticity";
    gap: 20px 10px;
}

#intro{
    grid-area: z-intro;
}

#table_zona2{
    grid-area: z-iframe;
}

#event_calendar{
    grid-area: z-team-filter;
}

#announcements{
    grid-area: z-game-filter;
}

#online_users{
    grid-area: z-promo;
}

#user_data{
    grid-area: z-team-filter-intro;
}

#general_info{
    grid-area: z-game-filter-intro;
}

#nesting{
    grid-area: z-authenticity;
}

/* #page-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  } */

  #auth-img{
    width: 100%;
    max-width: 100%;
    min-width: 320px;
  }

#css-print{
    display: none;
}

/* video {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
}

::cue {
    background-color: #222;
    color: #fff;
    text-align: left;
    vertical-align: bottom;
} 
::cue b {
    font-weight: bold;
} */

a:visited {
    color: var(--color-link-visited);
}

a[href^="http"]::before {
    content: "⮳";
    font-size: 150%;
}

a[href^="http"]:hover::before {
    color: var(--color-link-external-hover);
}

a:not([href^="http"]):hover {
    background-image: radial-gradient(circle, var(--color-link-hover) 0%, var(--color-link-hover) 40%, transparent 80%, transparent 100%);
    background-position: center;
    background-size: 0;
    transition: background-size 0.2s ease-in-out;
}

a:not([href^="http"]):hover:hover {
    background-size: 100%;
}

ul{
    padding: 0px !important;
    margin: 0px !important;
}

li{
    padding: 0px !important;
    margin: 0px !important;
}

#main_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* overflow: hidden !important; */
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
}

#text-reflectat{
	position:absolute;
	left:0;
	top:100%;
	transform-origin:0 0;
	/*conetaza ordinea transformarilor!*/
	transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px,-25px); 
	opacity:0.55;
}

#text{	
	position:relative;
}

#text, #text-reflectat{
	font-size:50px;
	line-height:50px;
	font-weight: bold;
}

#container-intro{
    display: flex;
}