 #top-button {
    display: block;
    border: 1px solid var(--main-color);
    border-radius: 40px 40px 0 0;
    background: var(--highlight-color);
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease;
    /* background-color: transparent; */
    opacity: 0.5;
  }
  
  #top-button:hover {
    background-color: transparent;
    opacity: 1;
    background: radial-gradient(var(--highlight-color), var(--degrade), var(--main-color));
    transition: all 0.4s ease;
  }
  
  #top-button:hover #go-to-top {
    transform: scale(1.2);
  }
  
  #go-to-top {
    display: inline-block;
    color: var(--text-color);
    font-size: 45px;
    margin-left: 0px;
    margin-top: -20px;
    transition: 0.3s ease;
    transform-origin: center center;
  }
  