<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Proiect Web - Magazin de Suveniruri Formula 1"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <meta name="keywords" content="F1, Formula 1, authentic, souvenir, sport, motor-sport"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <title>Short History of Formula 1</title>
        <link rel="stylesheet" type="text/css" href="/resurse/styles/about.css"
        <%- include("../fragments/head.ejs");  %> 
    </head>
    <body>
        
    <%- include("../fragments/header.ejs");  %> 

    <main>
        <h1>History of Formula 1</h1>
        <p>Formula 1, also known as F1, is the highest class of international auto racing for single-seater formula racing cars.</p>
        <p>The first Formula 1 World Championship season was in 1950, and was won by Italian driver Giuseppe Farina. The championship has been held every year since then, with the exception of 1955.</p>
        <p>Over the years, the sport has seen many legendary drivers, including Juan Manuel Fangio, Ayrton Senna, Alain Prost, and Michael Schumacher, among others.</p>
        <p>The sport has also seen many technological advancements, with cars becoming faster and more advanced over time. Today, the sport is a major global phenomenon, with millions of fans around the world.</p>
    </main>
    
    <%- include("../fragments/footer.ejs");  %> 

    </body>
</html>