<footer>
    <link rel="stylesheet" href="/resurse/styles/animated_car.css" type="text/css"> 

    
    <div id="footer_animation">
        <figure>
            <picture id="auth-img">
                <source media="(max-width: 600px)" srcset="/resurse/imagini/rsz_1authenticity_certificate_signed.png">
                <source media="(max-width: 100px)" srcset="/resurse/imagini/rsz_2authenticity_certificate_signed.png">
                <img src="/resurse/imagini/rsz_authenticity_certificate_signed.png" alt="imagine sigla" title="Authenticity certificate">
            </picture>
            <figcaption>
                <a href="/resurse/imagini/authenticity_certificate_signed.png" download="certificate.png">Authenticity Certificate</a>
            </figcaption>
        </figure>
        <div class="image-container">
            <div class="car">
                <img src="/resurse/imagini/car-removebg-preview.png">
            </div>
            <div class=" wheel wheel1">
                <img class="roata" src="/resurse/imagini/wheel1-removebg-preview.png">
            </div>
            <div class="wheel wheel2">
                <img class="roata" src="/resurse/imagini/wheel1-removebg-preview.png">
            </div>
        </div>
    </div>
    <!-- <a href="#">Go to the top</a> -->
    <div id="top-button">
        <a href="#" id="go-to-top" title="Go to the Top">&#8679;</a>
    </div>
    <p id="disclaimer">
        <strong>
            Please note that we have a strict return policy that applies to all our merchandise. If you receive a product that is damaged or defective, you must notify 
            us within two days of receipt and provide photographic proof of the damage.
            If the damage is due to improper packaging or handling during transport, we may request additional information or evidence to support your claim. 
            We reserve the right to deny returns for items that have been used or damaged due to misuse or negligence on the part of the customer. 
            Please review our full return policy for more information.<br>
            If you have any questions or concerns about our return policy, please contact us <a href="mailto:ioan.anghel123@gmail.com">here</a>. 
            Our contact details can also be found at the bottom of the page. Thank you for your understanding
        </strong>
    </p>
    <address>
        <a href="mailto:ioan.anghel123@gmail.com">E-mail contact</a>
        <a href="tel:+0737000000">Telephone contact</a>
        <a href="http://wa.link/uaczer" target="_blank">Whatsapp contact</a>
        <a href="https://www.google.com/maps/place/Strada+Academiei+14,+Bucure%C8%99ti+010014/@44.4352017,26.0974435,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f372acd:0xb7e6e278a72d3fb4!8m2!3d44.4351979!4d26.0996322!16s%2Fg%2F11c1xw54hp">Strada Academiei nr. 14</a>
        
    </address>
    <small>
        Copyright &copy; <time datetime="2023-02-27">27 Februarie 2023</time>
    </small>

    <%- locals.optiuniMeniu %>

    <!-- <p id="banner">Acesta este un proiect scolar <button id="ok_cookies">OK</button></p> -->
</footer>