<script src="/resurse/js/tema.js"></script>
<header>
    <div id="css-print">
        <p>
            This is a school project!
        </p>
    </div>
    <h1>Formula 1 Souvenir Shop</h1>

    <nav id="main_nav">
        <input id="menu-input" type="checkbox" value="1">
        <label id="drop-menu" for="menu-input">
            <a href="#"><i class="fa-solid fa-bars" id="hidden-pic"></i></a>
        </label>
        
        <ul class="menu">
            <!-- <li id="hidden">
                <a href="#"><i class="fa-solid fa-bars" id="hidden-pic"></i></a>
            </li> -->
            <li>
                <a href="/#"><i class="fa-solid fa-flag-checkered"></i>Home</a>
                <ul>
                    <li>
                        <a href="/#page-grid">General Presentation</a>
                    </li>
                    <li>
                        <a href="/#table">Most Popular Items</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/inregistrare">Register</a>
            </li>
            <li><a href="/produse">Products</a>
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <% for (let i = 0; i < optiuniMeniu.length; i++) { 
                        let categorie = optiuniMeniu[i]['unnest']%>
                        <li><a href="/produse?tip=<%-categorie%>"><%-categorie%></a></li>
                    <% } %>
                </ul>
            </li>
            <li>
                <a href="/produse">Teams</a>
                <ul>
                    <ul class=".sublist">
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Ferrari">Ferrari</a>
                                </summary>
                                <section id="ferrari_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Carlos Sainz">Carlos Sainz</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Charles Leclerc">Charles Leclerc</a>
                                        </li>
                                        <li>
                                            <a href="sf23.html">SF-23</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Red%20Bull">Red Bull</a>
                                </summary>
                                <section id="red_bull_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Max Verstappen">Max Verstappen</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Sergio Perez">Sergio Perez</a>
                                        </li>
                                        <li>
                                            <a href="rb19.html">RB-19</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Mercedes">Mercedes</a>
                                </summary>
                                <section id="mercedes_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Lewis Hamilton">Lewis Hamilton</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=George Russel">George Russel</a>
                                        </li>
                                        <li>
                                            <a href="w14.html">W14</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=McLaren">McLaren</a>
                                </summary>
                                <section id="mclaren_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Lando Norris">Lando Norris</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Oscar Piastri">Oscar Piastri</a>
                                        </li>
                                        <li>
                                            <a href="mcl60.html">MCL60</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Aston%20Martin">Aston Martin</a>
                                </summary>
                                <section id="aston_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Fernando Alonso">Fernando Alonso</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Lance Stroll">Lance Stroll</a>
                                        </li>
                                        <li>
                                            <a href="amr23.html">AMR-23</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Haas">Haas</a>
                                </summary>
                                <section id="haas_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Kevin Magnussen">Kevin Magnussen</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Nico Hulkenberg">Nico Hulkenberg</a>
                                        </li>
                                        <li>
                                            <a href="vf23.html">VF-23</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Alpha%20Tauri">Alpha Tauri</a>
                                </summary>
                                <section id="alpha_tauri_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Yuki Tsunoda">Yuki Tsunoda</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Nick DeVries">Nick Devries</a>
                                        </li>
                                        <li>
                                            <a href="at04.html">AT-04</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Alfa%20Romeo">Alfa Romeo</a>
                                </summary>
                                <section id="alfa_romeo_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Valtteri Bottas">Valtteri Bottas</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Guanyu Zhou">Guanyu Zhou</a>
                                        </li>
                                        <li>
                                            <a href="c43.html">C-43</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Williams">Williams</a>
                                </summary>
                                <section id="williams_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Alex Albon">Alex Albon</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Logan Sargeant">Logan Sargeant</a>
                                        </li>
                                        <li>
                                            <a href="fw45.html">FW-45</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="/produse?echipa=Alpine">Alpine</a>
                                </summary>
                                <section id="alpine_detail">
                                    <ul >
                                        <li>
                                            <a href="/produse?sofer=Pierre Gasly">Pierre Gasly</a>
                                        </li>
                                        <li>
                                            <a href="/produse?sofer=Esteban Ocon">Esteban Ocon</a>
                                        </li>
                                        <li>
                                            <a href="a523.html">A-523</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                    </ul>
                </ul>
            </li>
            <li>
                <a href="#games">F1 Games</a>
                <ul >
                    <li>
                        <a href="/games">EA Sports F1 Series</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="about<%  %>">About F1</a>
            </li>
        </ul>
    </nav>

    <p>
        Introducing our <b>authentic</b> <b>Formula 1</b> <b>Souvenir Shop</b> - the ultimate destination for <b>sport</b> enthusiasts and <b>motor-sport</b> fans alike. 
        Browse our collection of unique souvenirs and immerse yourself in the world of <a href="https://www.formula1.com/" target="_blank">Formula 1</a>
    </p>
    <p>
        Celebrate the birthday of Formula 1 with our exciting sales on May 13th! 
        Get authentic souvenirs and merchandise from the world of motorsport at amazing discounts of up to <s>30%</s><ins>50%</ins>.
    </p>
    
</header>