<header>
    <div id="css-print">
        <p>
            This is a school project!
        </p>
    </div>
    <h1>Formula 1 Souvenir Shop</h1>

    <nav id="main_nav">
        <input id="menu-input" type="checkbox" value="1">
        <label id="drop-menu" for="menu-input">
            <a href="#"><i class="fa-solid fa-bars" id="hidden-pic"></i></a>
        </label>
        
        <ul class="menu">
            <!-- <li id="hidden">
                <a href="#"><i class="fa-solid fa-bars" id="hidden-pic"></i></a>
            </li> -->
            <li>
                <a href="#"><i class="fa-solid fa-flag-checkered"></i>Home</a>
                <ul>
                    <li>
                        <a href="#page-grid">General Presentation</a>
                    </li>
                    <li>
                        <a href="#table">Most Popular Items</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#teams">Teams</a>
                <ul>
                    <ul >
                        <li>
                            <details>
                                <summary>
                                    <a href="ferrari.html">Ferrari</a>
                                </summary>
                                <section id="ferrari_detail">
                                    <ul >
                                        <li>
                                            <a href="carlos_sainz.html">Carlos Sainz</a>
                                        </li>
                                        <li>
                                            <a href="charles_leclerc.html">Charles Leclerc</a>
                                        </li>
                                        <li>
                                            <a href="sf23.html">SF-23</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="red_bull.html">Red Bull</a>
                                </summary>
                                <section id="red_bull_detail">
                                    <ul >
                                        <li>
                                            <a href="max_verstappen.html">Max Verstappen</a>
                                        </li>
                                        <li>
                                            <a href="sergio_perez.html">Sergio Perez</a>
                                        </li>
                                        <li>
                                            <a href="rb19.html">RB-19</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="mercedes.html">Mercedes</a>
                                </summary>
                                <section id="mercedes_detail">
                                    <ul >
                                        <li>
                                            <a href="lewis_hamilton.html">Lewis Hamilton</a>
                                        </li>
                                        <li>
                                            <a href="george_russel.html">George Russel</a>
                                        </li>
                                        <li>
                                            <a href="w14.html">W14</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="mclaren.html">McLaren</a>
                                </summary>
                                <section id="mclaren_detail">
                                    <ul >
                                        <li>
                                            <a href="lando_norris.html">Lando Norris</a>
                                        </li>
                                        <li>
                                            <a href="oscar_piastri.html">Oscar Piastri</a>
                                        </li>
                                        <li>
                                            <a href="mcl60.html">MCL60</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="aston_martin.html">Aston Martin</a>
                                </summary>
                                <section id="aston_detail">
                                    <ul >
                                        <li>
                                            <a href="fernando_alonso.html">Fernando Alonso</a>
                                        </li>
                                        <li>
                                            <a href="lance_stroll.html">Lance Stroll</a>
                                        </li>
                                        <li>
                                            <a href="amr23.html">AMR-23</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="haas.html">Haas</a>
                                </summary>
                                <section id="haas_detail">
                                    <ul >
                                        <li>
                                            <a href="kevin_magnussen.html">Kevin Magnussen</a>
                                        </li>
                                        <li>
                                            <a href="nico_hulkenberg.html">Nico Hulkenberg</a>
                                        </li>
                                        <li>
                                            <a href="vf23.html">VF-23</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="alpha_tauri.html">Alpha Tauri</a>
                                </summary>
                                <section id="alpha_tauri_detail">
                                    <ul >
                                        <li>
                                            <a href="yuki_tsunoda.html">Yuki Tsunoda</a>
                                        </li>
                                        <li>
                                            <a href="nick_devries.html">Nick Devries</a>
                                        </li>
                                        <li>
                                            <a href="at04.html">AT-04</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="alfa_romeo.html">Alfa Romeo</a>
                                </summary>
                                <section id="alfa_romeo_detail">
                                    <ul >
                                        <li>
                                            <a href="valtteri_bottas.html">Valtteri Bottas</a>
                                        </li>
                                        <li>
                                            <a href="guanyu_zhou.html">Guanyu Zhou</a>
                                        </li>
                                        <li>
                                            <a href="c43.html">C-43</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="williams.html">Williams</a>
                                </summary>
                                <section id="williams_detail">
                                    <ul >
                                        <li>
                                            <a href="alex_albon.html">Alex Albon</a>
                                        </li>
                                        <li>
                                            <a href="logan_sargeant.html">Logan Sargeant</a>
                                        </li>
                                        <li>
                                            <a href="fw45.html">FW-45</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>
                                    <a href="alpine.html">Alpine</a>
                                </summary>
                                <section id="alpine_detail">
                                    <ul >
                                        <li>
                                            <a href="pierre_gasly.html">Pierre Gasly</a>
                                        </li>
                                        <li>
                                            <a href="esteban_ocon.html">Esteban Ocon</a>
                                        </li>
                                        <li>
                                            <a href="a523.html">A-523</a>
                                        </li>
                                    </ul>
                                </section>
                            </details>
                        </li>
                    </ul>
                </ul>
            </li>
            <li>
                <a href="#games">F1 Games</a>
                <ul >
                    <li>
                        <a href="f1_games.html">EA Sports F1 Series</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="about.<%  %>">About F1</a>
            </li>
        </ul>
    </nav>

    <p>
        Introducing our <b>authentic</b> <b>Formula 1</b> <b>Souvenir Shop</b> - the ultimate destination for <b>sport</b> enthusiasts and <b>motor-sport</b> fans alike. 
        Browse our collection of unique souvenirs and immerse yourself in the world of <a href="https://www.formula1.com/" target="_blank">Formula 1</a>
    </p>
    <p>
        Celebrate the birthday of Formula 1 with our exciting sales on May 13th! 
        Get authentic souvenirs and merchandise from the world of motorsport at amazing discounts of up to <s>30%</s><ins>50%</ins>.
    </p>
    
</header>